.boton-clear {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    border:  2px solid #fff;
    border-radius: 45px;
    user-select: none;
    cursor: pointer;
}

.boton-clear:hover {
    background-color: #00ffc8;
    color: black;
}